* {
  box-sizing: border-box;
}

html {
  
  width: 100%;
  overflow: hidden;
}
/* -webkit-app-region: drag; */
body {
  font-family: 'Lato', sans-serif;
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #2F263C;
  -webkit-user-select: none;
  border: 1px solid #FF6B81;
  box-sizing: border-box;
}

btn {
  font-family: "Luckiest Guy", sans-serif;
}

main {
  background-color: #2F263C;
}

.container {
  background-color: #2F263C;
  max-height: 100%;
  max-width: 100%;
  height: 700px;
  width: 870px;
}

/* ! header ! */
.header {
  background-color: #FF6B81;
  width: 100vw;
  height: 30px;
  max-height: 30px;
  -webkit-app-region: drag;
  
}

.header__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 5px;
  justify-content: space-between;
}
.header__logo_container { 
  display: flex;
  align-items: center;
  font-family: "Luckiest Guy", sans-serif;
  color: #fff;
  font-size: 12px;
  width: 20%;
}
.header__logo_container span{
  margin-bottom: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__space {
  width: 40%;
}

.header__default_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  height: 30px;
  margin-right: 5px;
}

.header__default-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: none;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  background: none;
  position: relative;
  -webkit-app-region: no-drag;
}

.header__default-button:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  background: none;
  position: relative;
  -webkit-app-region: no-drag;
  background-color: #C83B50;
  box-shadow: 0px 15px 25px rgba(226, 71, 94, 0.25);
}
.header__default-button:hover svg {
  transition: all 0.3s ease;
  cursor: pointer;
  fill: #fff;
  -webkit-app-region: no-drag;
  
}

.header__default-button svg rect {
  fill: none;
  margin-bottom: 5px;
}
.header__default-button svg:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__default-button svg g{
  width: 20px;
  height: 20px;
}
#tupoeSVG {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}


.header__default-button img:hover {
  fill: #C83B50;
}
/* ! main container ! */
.main {
  display: flex;
  flex-direction: row;
}
/* ! sidebar ! */
.sidebar {
  height: calc(100vh - 60px);
  width: 8%;
  display: flex;
  flex-direction: column;
}

.sidebar__space_before {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
/* .sidebar__space_before img {
  
} */
.smooth {
  transition: all 0.3s ease;
}

.rotate90_smooth {
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

/* sidebar func */
.sidebar__functions_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn-options {
  background-color: #2F263C;
  color: none;
  outline: none;
  border: none;
  width: 100%;
  height: 65px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-options svg {
  max-height: 65px;
  max-width: 65px;
}


.btn-options svg:hover { 
  justify-self: center;
  transition: all 0.3s ease;
  width: calc(100% - 5px);
  height: calc(65px - 5px);
  box-shadow: 0px 15px 25px rgb(200, 59, 80, 0.25);
  background-color: #C83B50;
  border: 5px solid #C83B50;
  border-radius: 5px;
  margin-left: -2.5px;
}
.btn-options svg:hover path {
  fill: #fff;
}
/* .btn-options:last-child svg:hover path:last-child {
  fill: #2f263cbe;
} */


.btn-options__active {
  cursor: pointer;
  justify-self: center;
  transition: all 0.3s ease;
  width: calc(100% - 5px);
  height: calc(65px - 5px);
  box-shadow: 0px 15px 25px rgb(200, 59, 80, 0.25);
  background-color: #C83B50;
  border: 5px solid #C83B50;
  border-radius: 5px;
  margin-left: -2.5px;
}
.btn-options__active__path {
  fill: #fff;
}
.btn-options__active:last-child svg path:last-child {
  fill: #2f263cbe;
}

.sidebar__space_after {
  height: 25%;
}

.sidebar__options_container {
  display: flex;
  justify-content: center;
}
/* ! main ! */

.main__body {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #281E36;
  background: no-repeat url('./icons/background.svg') ;
  box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
}

/* ! footer ! */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #FF6B81;
  display: flex;
  justify-content: end;
  align-items: center;
  -webkit-app-region: drag;
  color: #222;
}

.footer__right_icons {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin-right: 15px;
}

.footer__right_icons span {
  color: #333;
  font-size: 12px;
}
