:root {
  --colored-light: #FF6B81; 
  --colored-light-less: #C83B50; 
  --color-green: #479E70;
  --bulma-green: hsl(171, 100%, 41%);
  --bulma-red: hsl(348, 100%, 61%);
  --orange: #C0390C;
  --yellow: #ffdd57;
  --bg-color-lighter: #281E36;
  font-family: "Lato";
}

.main__body {
  width: 870px;
  height: 680px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.main__video-container {
  width: 850px;
  height: 500px;
  position: relative;
  padding: 0;
  margin: 0;
}

video {
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .16);
  box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
  
}



.main__controls {
  margin-top: 5px;
  display: flex;
  width: 100%;
  position: absolute;
  height: 60px;
  background-color: #2f263c48;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 0;
  bottom: 0;
  flex-direction: column;
  box-sizing: border-box;
  
}

video:hover .main__controls{
  transition: all 0.3s ease;
  transform: translateY(0px);
}



.main__controls-bar {
  
  width: 100%;
  height: 1px;
  background-color: var(--colored-light);
  position: relative;
  border: 5px solid var(--colored-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.main__controls-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: white;
}

.time__start, .time__end {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}
.time__start {
  
  box-sizing: border-box;
}

.main__contols-buttons-container {
  display: flex;
  align-items: center;
  
}
.main__contols-buttons-container button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}


.to__end {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  
}


.screen__recorder-container {
  display: flex;
  justify-content: space-between;
}

.screen__recorder-container button {
  background: none;
  color: white;
  background-color: #C83B50;
  width: auto;
  border: 0;
  outline: 0;
  height: auto;
  margin-right: 10px;
  
}

.screen__recorder-container button:first-child {
  background-color: var(--bulma-green);
  border-radius: 20px;
  font-size: 20px;
  height: 40px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.screen__recorder-container button:last-child {
  background-color: var(--yellow);
  border-radius: 20px;
  font-size: 20px;
  height: 40px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  color: var(--bg-color-lighter);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.main__other-info {
  display: flex;
  flex-direction: column;
}
.main__other-info  span{
  margin-bottom: 10px;
}

.main__other-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  padding-top: 20px;
  color: white;
  font-size: 14px;
  line-height: 14px;
}

.other__openfolder-container {
  display: flex;
  flex-direction: column;
}
.other__openfolder-container span {
  background-color: hsl(0, 0%, 96%);
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  color: var(--bg-color-lighter);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}