<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Muti Arses</title>
  <link rel="stylesheet" href="../styles/default-modal.css">
  <link rel="stylesheet" href="../styles/fonts.css">
  <link rel="preload" href="../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf" as="font">
  <link rel="stylesheet" href="../styles/record.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body>
  <div class="container">
    <header class="header">
      <div class="header__container">
        <div class="header__logo_container">
          <img src="../icons/logo.svg" alt="" srcset="" width="30px" height="50px">
          <span>Multi Arses</span>
        </div>
        <div class="header__space"></div>
        <div class="header__default_icons">
          <button class="header__default-button" id="btn-modal-record-roll">
            <svg width="10" height="1" viewBox="0 0 10 1" xmlns="http://www.w3.org/2000/svg">
              <line y1="0.5" x2="10" y2="0.5" stroke="#fff" />
            </svg>
          </button>
          <button class="header__default-button" id="btn-default-open">
            <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
              <rect x="0" y="0" width="10" height="10" stroke="#fff" />
            </svg>
          </button>
          <button class="header__default-button" id="btn-default-close">
            <svg id="tupoeSVG" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1_5)">
                <path  d="M15 1L10 6M5 11L10 6M10 6L15 11L5 1" stroke="#fff" />
              </g>
              <defs>
                <filter id="filter0_d_1_5" x="0" y="0" width="20" height="20"
                  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_5" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_5" result="shape" />
                </filter>
              </defs>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="main__body">
        <div class="main__video-container">
          <video src=""></video>
          <div class="main__controls">
            <div class="main__controls-bar">
            </div>
            <div class="main__controls-buttons">
              <div class="time__start">
                00:00:00
              </div>
              <div class="screen__recorder-container">
                <button id="record-start record-btn" class="record-start">Запись</button>
                <button id="record-save record-btn" class="record-save">Завершить</button>
              </div>
              <div class="main__contols-buttons-container">
                <button class="to-start">
                  <img src="../icons/record/to-start-triangle-inner.svg" alt="" srcset="">
                </button>
                <button id="play-pause">
                  <img src="../icons/record/record-start.svg" alt="" srcset="">
                </button>
                <button id="to-end">
                  <img class="to__end_img"  src="../icons/record/to-end-triangle-inner.svg" alt="" srcset="">
                </button>
              </div>
              <div class="time__end">
                00:00:00
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__right_icons">
        <span id="process">Процесс...</span>
        <img src="../icons/default-right-icons.svg" alt="" srcset="">
        <img src="../icons/Polygon 1.svg" alt="" srcset="">
      </div>

    </footer>

  </div>
  <script>
  </script>
  <script src="../renderer/default-btn-modal-record.js"></script>
  <script src="../renderer/sidebarHighLighter.js"></script>
  <script src="../renderer/desktop.js"></script>
  <script src="../renderer/screenCaptuter.js"></script>
  <script src="../renderer/record/record.js"></script>
</body>

</html>